.notification {
	background-color: #ffffff;
	width: 380px;
	position: absolute;
	right: 0;
	pointer-events: none;
	top: 70px;
	z-index: 10;
	opacity: 0;
	filter: drop-shadow(0px 2px 14px rgba(166, 166, 166, 0.25));
	transition: opacity 0.4s ease;

	&[data-open="open"] {
		opacity: 1;
	}

	&__title {
		text-align: center;
		padding: 15px;
		font-size: 18px;
		border-bottom: 3px solid #f9f9f9;
	}

	&__item {
		padding: 18px;
		border-bottom: 3px solid #f9f9f9;

		&__header {
			display: flex;
			align-items: center;
			margin-bottom: 10px;

			&__time {
				width: 20%;
				color: #00000066;
				font-size: 12px;
			}

			&__title {
				width: 80%;
			}

			& > img {
				margin-right: 5px;
			}
		}

		&__text {
			font-size: 14px;
			color: #00000066;
		}
	}

	&::before {
		content: "";
		display: inline-block;
		border: 15px solid white;
		transform: rotate(45deg);
		position: absolute;
		top: -5%;
		z-index: 2;
		right: 7%;
	}
}
