.search-dropdown {
	&__input {
		padding: 16px;
		font-size: 18px;
		outline: none;
		background-color: #fafafa;
		border: none;
		transform: translateX(100%);
		transform-origin: right;
		opacity: 0;
		transition: transform 0.3s ease, opacity 0.5s ease;
	}

	.open {
		transform: translateX(20%);
		z-index: 1;
		opacity: 1;
	}
}
