*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

$brendColor: #ffedbb;

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: #008ddd;
}

body {
	background-color: darkgray;
	font-family: "SF Pro Display", sans-serif;
}

.container {
	width: 80%;
	margin: 0 auto;
}
